*.a
*.d
*.o

*.exe
*.dll
*.dylib
*.so
*.zip

.DS_Store

bin-w32/sendmixer-vst.*
bin-w32/sendmixer.clap
bin-w32/sendmixer.exe
bin-w32/sendmixer.lv2
bin-w32/sendmixer.vst3
bin-w64/sendmixer-vst.*
bin-w64/sendmixer.clap
bin-w64/sendmixer.exe
bin-w64/sendmixer.lv2
bin-w64/sendmixer.vst3
bin/sendmixer
bin/sendmixer-dssi.*
bin/sendmixer-ladspa.*
bin/sendmixer-vst.*
bin/sendmixer.clap
bin/sendmixer.lv2/
bin/sendmixer.vst3
build/
dist/
